header {
    height: 100px;
    width: 100%;
    padding: 20px;
}

main {
    background-color: #7fffd4;
    /* height: calc(100vw - 145px - 100px); */
    width: 100%;
    padding: 55px;
}

footer {
    height: 100px;
    padding: 1.8rem 2rem;
    font-size: 1.85rem;
}

footer p {
    margin-bottom: 0;
}

footer p a {
    color: #73439f;
}

.my_title {
    font-size: 3rem;
    font-weight: 700;
}

img.boolean-logo {
    width: 55px;
}

.playbutton {
    font-size: 1.4rem;
    width: 140px;
    border-radius: 10px;
    border: 1px solid grey;
}

div.grid {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    /* background-color: blueviolet; */

}

.grid-border {
    border: 1px solid black;
}

div.grid .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    cursor: pointer;
}

div.grid .cell p {
    text-align: center;
    font-size: 1.5rem;
    /* line-height: 100px; */
    margin-bottom: 0;
}

div.cell.selected {
    background-color: lightskyblue;
}

div.cell.exploded {
    background-color: red;
}