header {
    height: 100px;
    width: 100%;
    padding: 20px;
}

main {
    background-color: #7fffd4;
    height: calc(100vh - 100px);
    width: 100%;
    padding: 20px;
    overflow: scroll;
}

footer {
    height: 100px;
    padding: 1rem 2rem;
    font-size: 1.85rem;
}

footer p {
    margin-bottom: 0;
}

footer p a {
    color: #73439f;
}

.my_title {
    font-size: 3rem;
    font-weight: 700;
}

img.boolean-logo {
    width: 55px;
}

.playbutton {
    background-image: url(../img/minesweeper-smiley.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 1.4rem;
    width: 60px;
    height: 60px;
    border: 5px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
}

.dead-playbutton {
    background-image: url(../img/minesweeper-smiley-dead.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.playbutton:active {
    background-image: url(../img/minesweeper-sunglasses.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.my_points-container {
    margin-left: 20px;
    width: 140px;
    height: 50px;
    border: 2px solid;
    background-color: #0f010f;
    border-color: #808080 #ffffff #ffffff #808080;

    color: red;
    font-size: 1.8rem;
    font-weight: 700px;
    font-family: 'Orbitron', sans-serif;
}

.my_points {
    margin: 0;
}

.my_points span {
    margin: 0;
}

.my_selection-container {
    margin-right: 20px;
    height: 50px;
    width: 140px;
}

.select-difficulty {
    font-size: 1.4rem;
    height: 50px;
    width: 140px;
    border-radius: 0;
    background-color: #c0c0c0;
    border: 5px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
}

.minesweeper-container {
    width: 650px;
    padding: 15px 0;
    background-color: #c0c0c0;
    border: 5px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
}

.my_minesweeper-header {
    width: 615px;
    height: 80px;
    margin-bottom: 10px;
    border: 5px solid;
    border-color: #808080 #ffffff #ffffff #808080;
}

.my_grid-container {
    width: 615px;
    height: 615px;
    border: 5px solid;
    border-color: #808080 #ffffff #ffffff #808080;
}

div.grid .cell.hard {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

div.grid .cell.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

div.grid .cell.easy {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

/* border: 1px solid grey; */

div.grid {
    /* background-color: #c0c0c0; */
    margin: 0 auto;
    width: 600px;
    height: 600px;
    /* background-color: blueviolet; */

}

.grid-border {
    /* border: 1px solid black; */
}

div.grid .cell {
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 5px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    cursor: pointer;
}

div.grid .cell p {
    text-align: center;
    font-size: 1.5rem;
    /* line-height: 100px; */
    margin-bottom: 0;
}

div.cell.selected {
    background-color: #c0c0c0;
    border: 1px solid;
    border-color: #828282;
}

div.cell.exploded {
    background-color: red;
}

div.cell.mine {
    background-image: url(../img/mine.png);
    background-repeat: no-repeat;
    background-size: cover;
}